header {
    color: blue;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}

h1 {
    color: green;
}